.btn {
  border-color: $btn-border-color;
  color: $btn-color;

  &:hover {
    border-color: $btn-border-color;
    background-color: $btn-hover-bg;
    color: $btn-hover-color;
  }
}

.btn-xs {
  margin-top: 20px;
}
