.navbar {
  background-color: $navbar-bg;
  border: none;
  margin-bottom: 0;

  .navbar-text,
  .navbar-brand,
  a.navbar-link,
  ul.nav.navbar-nav > li > a {
    color: $navbar-color;

    &:hover {
      color: $navbar-color;
      text-decoration: none;
    }
  }
}
