$purple: #82698e;
$white: #fff;
$gray: #999;
$img-github: url('background-github.png');

$navbar-bg: $purple;
$navbar-color: $white;
$navbar-hover-bg: $white;
$navbar-hover-color: $purple;

$container-bg: $img-github;

$body-bg: $purple;
$body-color: $gray;

$footer-color: $white;

$h1-color: $purple;

$idea-color: $purple;

$btn-border-color: transparent;
$btn-bg: $purple;
$btn-color: $white;
$btn-hover-border-color: $purple;
$btn-hover-bg: $white;
$btn-hover-color: $purple;
